# 全てのファイルを一度、無視する。
*

# さらに、ドットから始まる設定ファイルを無視する。
.*

# しかし、無視したくない "ファイル/ディレクトリ/拡張子" は以下に
# "![ファイル名/ディレクトリ名/拡張子名]" で指定する。

##### file list #####
!/.*sh_aliases
!/.*sh_colour.example
!/.*sh_profile
!/.*shrc
!/.*shenv
!/.zlogin
!/.zlogout
!/.zpreztorc
!/.zprofile
!/.zshenv-oh-my-zsh
!/.selected_editor
!/.vimrc
!/.Xresources
!/.gitconfig
!/.gitmodules
!/.gitignore
!/.bin
!/.curlrc
!/.rspec
!/.pryrc
!/.travis.yml
!/.gemrc
!/.ansible.cfg
!/.tigrc
!/prompt_libero18_setup
!/Gemfile
!/Rakefile
!/Brewfile.yml
!/inventory.conf
!/default-gems
!/cpanfile

##### .ssh #####
!/config
!/id_rsa.*

##### system #####
!/auto_smb

##### provisioning #####
!Vagrantfile


# しかし、無視したくない "ディレクトリ" は以下に "![ディレクトリ名]" で指定する。
##### directory list #####
!spec

##### chef cookbook template #####
!attributes
!definitions
!files
!libraries
!providers
!recipes
!resources
!templates


# しかし、無視したくない "拡張子" は以下に "![拡張子名]" で指定する。
##### extension list #####
!.gitkeep
!*.rb
!*.md
!*.sh
!*.json
!*.cfg
!*.zsh-theme

# 上記に"無視したくないファイル"としてリスト化した中から、
# さらに"無視したいファイル"があれば指定する。
.bin/st

